/* CART PAGE */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 50%;
}


#cart table thead {
    border: 1px solid #d1e8f2;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#subtotal {
    min-width: 30%;
    margin-bottom: 30px;
    border: 1px solid #d1e8f2;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal h3 {
    padding-bottom: 15px;
}
#subtotal table td{
    max-width: 40%;
    border: 1px solid #d1e8f2;
    padding: 10px;
    font-size: 13px;
}

#subtotal button {
    background-color: #cce7d0;
    color: #fff;
    padding: 12px 20px;
}

#subtotal button:hover {
    background-color: #041e42;
}

