/* Contact */

.column {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details {
    width: 100%;
}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}